<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check level og english</title><link rel="icon" type="image/svg+xml" href="..blog/images/favicon.svg">
  <link rel="icon" type="image/png" href="..blog/images/favicon.png">
  <link rel="stylesheet" href="/static/blog/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../static/blog/css/blog.min.css">
</head>
<body>
    <form action="{% url 'level' %}" method="post">
    {% csrf_token %}
        {{form.as_p}}
        <button type = "submit"> Перевірити </button>
    </form>

</body>
</html>