{% extends "base/base.html" %}

{% block mainmenu %}

<div class="nav-scroller py-1 mb-3">
    <nav class="nav d-flex justify-content-between">

      {% for m in menu %}
        <div class="nav-item"><a href="{% url m.url_name %}" class="nav-link link-secondary">{{m.title}}</a></div>
      {% endfor %}
    </nav>
  </div>

{% endblock mainmenu %}

{% block content %}

<section class="col-md-9 mb-2" role="main">
      <h1 class="h1">{{title_returns}}</h1>
      <div class="row row-cols-1 row-cols-md-3 g-4 position-relative">
        {% for p in returns %}
          <article class="col">
          <div class="card shadow">
            <img src="{{p.image.url}}" alt="Фото товару" class="card-img-top">
            <div class="card-body">
              <strong class="fw-light">category</strong>
              <h2 class="card-title">{{p.name}}</h2>
              <small>
                <i class="bi bi-person mx-1"></i><a href="" class="fw-bolder link-secondary">Article Author</a>
                <i class="bi bi-calendar mx-1"></i><span>June 10, 2022</span>
              </small>
              <p class="card-text">With ghees drink pork butt sauce.</p>
              <a href="{{ p.get_absolute_url }}" class="card-link text-body fw-bold">Детально...</a>
            </div>
          </div>
        </article>

       {% endfor %}

        <nav class="blog-pagination" aria-label="Pagination">
          <a href="" class="btn btn-outline-primary rounded-pill">Older</a>
          <a href="" class="btn btn-outline-success rounded-pill">Newer</a>
        </nav>

      </div>
    </section>

{% endblock content %}